<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:amazon="http://schemas.android.com/apk/lib/com.amazon.device.ads"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="com.phonegap.plugins.PushPlugin"
    version="2.4.0">

  <name>PushPlugin</name>
	<author>Bob Easterday</author>

	<description>
		This plugin allows your application to receive push notifications on Android, iOS, WP8 and Windows8 devices.
    Android uses Google Cloud Messaging.
    iOS uses Apple APNS Notifications.
    WP8 uses Microsoft MPNS Notifications.
    Windows8 uses Microsoft WNS Notifications.
	</description>

	<license>MIT</license>

	<js-module src="www/PushNotification.js" name="PushNotification">
        <clobbers target="PushNotification" />
	</js-module>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<!-- android Baidu Push-->
	<platform name="android">

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="PushPlugin" >
				<param name="android-package" value="com.plugin.baidupush.PushPlugin"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.WRITE_SETTINGS" />
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
            <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
            <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">

            <!-- push应用定义消息receiver声明 -->
            <receiver android:name="com.plugin.baidupush.CordovaBDPushMessageReceiver">
                <intent-filter>
                    <!-- 接收push消息 -->
                    <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                    <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                    <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                    <!-- 可选。接受通知点击事件,和通知自定义内容 -->
                    <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
                </intent-filter>
            </receiver>

            <!-- push必须的receviver和service声明 -->
            <receiver android:name="com.baidu.android.pushservice.PushServiceReceiver"
                android:process=":bdservice_v1">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                    <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                    <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                    <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                    <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                    <action android:name="android.intent.action.MEDIA_MOUNTED" />
                    <action android:name="android.intent.action.USER_PRESENT" />
                    <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                    <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                </intent-filter>
            </receiver>
            <receiver android:name="com.baidu.android.pushservice.RegistrationReceiver"
                android:process=":bdservice_v1">
                <intent-filter>
                    <action android:name="com.baidu.android.pushservice.action.METHOD" />
                    <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
                </intent-filter>
                <intent-filter>
                    <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                    <data android:scheme="package" />
                </intent-filter>
            </receiver>
            <service
                android:name="com.baidu.android.pushservice.PushService"
                android:exported="true"
                android:process=":bdservice_v1" >
                <intent-filter >
                    <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE"/>
                </intent-filter>
            </service>
            
            <!-- 响应Push消息的Activity -->
            <activity android:launchMode="singleInstance" android:name="com.plugin.baidupush.PushHandlerActivity"></activity>
            <!-- push结束 -->

            <!-- 在百度开发者中心查询应用的API Key -->
            <meta-data android:name="api_key" android:value="INSERT YOUR OWN API_KEY HERE" />
		</config-file>

		<source-file src="src/android/libs/pushservice-4.3.0.4.jar" target-dir="libs/" />
		<source-file src="src/android/com/plugin/baidupush/CordovaBDPushMessageReceiver.java" target-dir="src/com/plugin/baidupush/" />
		<source-file src="src/android/com/plugin/baidupush/PushHandlerActivity.java" target-dir="src/com/plugin/baidupush/" />
		<source-file src="src/android/com/plugin/baidupush/PushPlugin.java" target-dir="src/com/plugin/baidupush/" />
        <source-file src="src/android/com/plugin/baidupush/Utils.java" target-dir="src/com/plugin/baidupush/" />
		<source-file src="src/android/com/plugin/android-support-v13.jar" target-dir="libs/" />
        <source-file src="src/android/libs/armeabi/libbdpush_V2_2.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/mips/libbdpush_V2_2.so" target-dir="libs/mips" />

	</platform>

    <!-- android GCM -->
    <platform name="android-gcm">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PushPlugin" >
                <param name="android-package" value="com.plugin.gcm.PushPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.VIBRATE"/>
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
            <permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature" />
            <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.plugin.gcm.PushHandlerActivity" android:exported="true"/>
            <receiver android:name="com.plugin.gcm.CordovaGCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
                <intent-filter>
                    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                    <category android:name="$PACKAGE_NAME" />
                </intent-filter>
            </receiver>
            <service android:name="com.plugin.gcm.GCMIntentService" />
        </config-file>

        <source-file src="src/android/libs/gcm.jar" target-dir="libs/" />
        <source-file src="src/android/com/plugin/gcm/CordovaGCMBroadcastReceiver.java" target-dir="src/com/plugin/gcm/" />
        <source-file src="src/android/com/plugin/gcm/GCMIntentService.java" target-dir="src/com/plugin/gcm/" />
        <source-file src="src/android/com/plugin/gcm/PushHandlerActivity.java" target-dir="src/com/plugin/gcm/" />
        <source-file src="src/android/com/plugin/gcm/PushPlugin.java" target-dir="src/com/plugin/gcm/" />
        <source-file src="src/android/com/plugin/android-support-v13.jar" target-dir="libs/" />

    </platform>

    <!-- amazon-fireos -->
	<platform name="amazon-fireos">

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="PushPlugin" >
				<param name="android-package" value="com.amazon.cordova.plugin.PushPlugin"/>
			</feature>
            <preference name="showmessageinnotification" value="true" />
            <preference name="defaultnotificationmessage" value="You have a new message." />
		</config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <!-- This permission ensures that no other application can intercept your ADM messages. "[YOUR PACKAGE NAME]" is your package name as defined in your <manifest> tag. -->
            <permission android:name="$PACKAGE_NAME.permission.RECEIVE_ADM_MESSAGE" android:protectionLevel="signature" />
            <uses-permission android:name="$PACKAGE_NAME.permission.RECEIVE_ADM_MESSAGE" />
            <!-- This permission allows your app access to receive push notifications from ADM. -->
            <uses-permission android:name="com.amazon.device.messaging.permission.RECEIVE" />
            <!-- ADM uses WAKE_LOCK to keep the processor from sleeping when a message is received. -->
            <uses-permission android:name="android.permission.WAKE_LOCK" />
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!-- You must explicitly enable ADM and declare whether your app cannot work without ADM (android:required="true") or can work without ADM (android:required="false").
            If you specify android:required="false", your app must degrade gracefully if ADM
            is unavailable. -->
            <amazon:enable-feature android:name="com.amazon.device.messaging" android:required="true"/>
			<service android:exported="false" android:name="com.amazon.cordova.plugin.ADMMessageHandler" />
            <activity android:exported="true" android:name="com.amazon.cordova.plugin.ADMHandlerActivity" />
            <receiver android:name="com.amazon.cordova.plugin.ADMMessageHandler$Receiver" android:permission="com.amazon.device.messaging.permission.SEND">
                <intent-filter>
                    <action android:name="com.amazon.device.messaging.intent.REGISTRATION" />
                    <action android:name="com.amazon.device.messaging.intent.RECEIVE" />
                    <category android:name="$PACKAGE_NAME" />
                </intent-filter>
            </receiver>
        </config-file>

        <source-file src="src/amazon/PushPlugin.java" target-dir="src/com/amazon/cordova/plugin" />
        <source-file src="src/amazon/ADMMessageHandler.java" target-dir="src/com/amazon/cordova/plugin" />
        <source-file src="src/amazon/ADMHandlerActivity.java" target-dir="src/com/amazon/cordova/plugin" />

	</platform>

	<!-- ios -->
	<platform name="ios">

		<config-file target="config.xml" parent="/*">
			<feature name="PushPlugin">
				<param name="ios-package" value="PushPlugin"/>
			</feature>
		</config-file>

		<source-file src="src/ios/AppDelegate+notification.m" />
		<source-file src="src/ios/PushPlugin.m" />

		<header-file src="src/ios/AppDelegate+notification.h" />
		<header-file src="src/ios/PushPlugin.h" />

	</platform>

    <!-- blackberry10 -->
    <platform name="blackberry10">
        <dependency id="com.blackberry.push" />
        <dependency id="com.blackberry.invoked" />
        <config-file target="www/config.xml" parent="/widget">
            <feature name="PushPlugin" value="PushPlugin" />
        </config-file>
        <js-module src="www/blackberry10/PushPluginProxy.js" name="PushPluginProxy" >
            <runs />
        </js-module>
    </platform>

    <!-- wp8 -->
    <platform name="wp8">

    <config-file target="config.xml" parent="/*">
      <feature name="PushPlugin">
        <param name="wp-package" value="PushPlugin"/>
      </feature>
    </config-file>

    <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
      <Capability Name="ID_CAP_PUSH_NOTIFICATION"/>
    </config-file>

    <source-file src="src/wp8/PushPlugin.cs" />
    <framework src="src/wp8/Newtonsoft.Json.dll" custom="true" />

  </platform>

  <!-- windows8 -->
  <platform name="windows8">
    <js-module src="src/windows8/PushPluginProxy.js" name="PushPlugin">
      <merges target="" />
    </js-module>
  </platform>

</plugin>
